div(class="thanks")
  - for (var i = 0; i < 20; ++i) {
    div.text-bg.fa.fa-star
  - }
  h1= "Thanks!"
div(class="letter")
  p= "Your bank and credit card statements are being encrypted right now."
  p= "After we've stripped it of any data that could identify you, we will start drawing your budget infographic."
  p= "Till we meet in your inbox, let's stay in touch on Facebook! We frequently share nifty budget tips and ways to make full use of Seedly. And you want to save money, don't you?"
